@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

@function pxToRem($val){
    $calcVal: $val / 16;
    @return $calcVal * 1rem;
}

html {
    font-size: 4.44444vw;
}

body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrap {
    padding-top: pxToRem(66);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .page-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .page-main {
            position: relative;
            flex-grow: 1;
            .onSearch & {
                display: none;
            }
        }
    }
}

.form-control {
    border: 0;
    display: inline-block;
    padding: pxToRem(6);
    background: transparent;
    &:focus {
        outline: 0;
    }
}

.grid {
    .grid-item {
        float: left;
        width: 50%;
        padding: pxToRem(8)
    }
}

.btn {
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus {
        outline: 0;
    }
}

.ly-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    .ly-popup-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1000;
        background: #fff;
        -webkit-border-radius: pxToRem(4);
        -moz-border-radius: pxToRem(4);
        border-radius: pxToRem(4);
    }
    .ly-popup-screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 100;
    }
}

.confirm-popup {
    display: none;
    .confirm-popup-inner {
        min-width: pxToRem(288);
        min-height: pxToRem(172);
        padding: pxToRem(40) 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: pxToRem(20);
        font-weight: bold;
        color: rgb(51, 51, 51);
        span {
            font-size: pxToRem(16);
            text-align: center;
            font-weight: normal;
            margin-top: pxToRem(25);
        }
        img {
            display: block;
            width: pxToRem(56);
            margin-top: pxToRem(14);
        }
    }
}

.fileloader-area {
    position: relative;
    .fileloader {
        display: none;
    }
    .btn-fileloader {
        img {
            position: absolute;
            bottom: pxToRem(7);
            right: 0;
            width: pxToRem(22);
            cursor: pointer;
        }
    }
    .filename {
        display: block;
        width: 100%;
        padding: pxToRem(17) 0 pxToRem(7);
        border-bottom: 1px solid rgb(200, 200, 200);
        font-size: pxToRem(16);
        margin-bottom: pxToRem(17);
        color: rgb(200,200,200);
        min-height: pxToRem(48);
    }
}

.input-area {
    h5 {
        font-size: pxToRem(14);
    }
    .form-input {
        display: block;
        width: 100%;
        padding: pxToRem(17) 0 pxToRem(7);
        border-bottom: 1px solid rgb(200, 200, 200);
        font-size: pxToRem(16);
        margin-bottom: pxToRem(17);
        color: rgb(200,200,200);
        min-height: pxToRem(48);
    }
}

