@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

@function pxToRem($val){
    $calcVal: $val / 16;
    @return $calcVal * 1rem;
}

html {
    font-size: 4.44444vw;
}

body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrap {
    padding-top: pxToRem(66);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .page-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .page-main {
            position: relative;
            flex-grow: 1;
            .onSearch & {
                display: none;
            }
        }
    }
}

.form-control {
    border: 0;
    display: inline-block;
    padding: pxToRem(6);
    background: transparent;
    &:focus {
        outline: 0;
    }
}

.grid {
    .grid-item {
        float: left;
        width: 50%;
        padding: pxToRem(8)
    }
}

.btn {
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus {
        outline: 0;
    }
}

.ly-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    .ly-popup-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1000;
        background: #fff;
        -webkit-border-radius: pxToRem(4);
        -moz-border-radius: pxToRem(4);
        border-radius: pxToRem(4);
    }
    .ly-popup-screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 100;
    }
}