<div class="lon-home-category">
    <ul>
        <li class="category-item">
            <a href="#!"><span>ALL</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>MODERN</span></a>
        </li>
        <li class="category-item on">
            <a href="#!"><span>SKANDINAVIAN</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>INDUSTRIAL</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>INDUSTRIAL</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>INDUSTRIAL</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>INDUSTRIAL</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>INDUSTRIAL</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>INDUSTRIAL</span></a>
        </li>
        <li class="category-item">
            <a href="#!"><span>INDUSTRIAL</span></a>
        </li>
    </ul>
</div>