<div class="lon-header">
    <div class="lon-btn-nav">
        <img src="../../images/navibarIconsMenuN.png" alt="">
    </div>
    <div class="lon-search-area">
        <form class="search-group">
            <button type="submit" class="btn btn-search"></button>
            <input type="search" class="search-box form-control" placeholder="아파트 명으로 검색">
            <button type="reset" class="btn btn-reset">취소</button>
        </form>
    </div>
    <div class="lon-filter">
        <img src="../../images/navibarIconsFilterN.png" alt="">
    </div>
</div>

