<div class="lon-header">
    <div class="lon-btn-nav">
        <img src="../../images/navibarIconsMenuN.png" alt="">
    </div>
    <div class="lon-search-area">
        <form class="search-group">
            <button type="submit" class="btn btn-search"></button>
            <input type="search" class="search-box form-control" placeholder="아파트 명으로 검색">
            <button type="reset" class="btn btn-reset">취소</button>
        </form>
    </div>
    <div class="lon-filter">
        <img src="../../images/navibarIconsFilterN.png" alt="">
    </div>
</div>

<div class="lon-sidenav">
    <div class="lon-logo-group">
        <a href="./home.html">
            <h1 class="logo">
                <img src="../../images/logoAwallWSmall@2x.png" alt="">
            </h1>
        </a>
        <div class="language">
                    <span class="ko">
                        KO
                        <img src="../../images/icon-dropdown.png" alt="">
                    </span>
            <span class="en">EN</span>
        </div>
    </div>
    <div class="user-id">
        Yamaha Toshinobu
    </div>
    <nav class="gnb">
        <ul>
            <li class="nav-item">
                <img src="../../images/light@2x.png" alt="">
                <a href="./home.html">HOME</a>
            </li>
            <li class="nav-item">
                <img src="../../images/light_2@2x.png" alt="">
                <a href="./about.html">ABOUT</a>
            </li>
            <li class="nav-item">
                <img src="../../images/light_3@2x.png" alt="">
                <a href="./style.html">STYLE</a>
            </li>
            <li class="nav-item">
                <img src="../../images/lightCopy@2x.png" alt="">
                <a href="./apartment.html">APARTMENT</a>
            </li>
            <li class="nav-item">
                <img src="../../images/light_4@2x.png" alt="">
                <a href="./premium.html">PREMIUM</a>
            </li>
            <li class="nav-item">
                <img src="../../images/light_5@2x.png" alt="">
                <a href="./mypage.html">MY PAGE</a>
            </li>
            <li class="nav-item">
                <img src="../../images/light_6@2x.png" alt="">
                <a href="./setting.html">SETTING</a>
            </li>
        </ul>
    </nav>
    <div class="corp-info">
        <p>customer@lifeon.com</p>
        <p>AM 10:00~PM 19:00 (점심시간 12:00~14:00)</p>
        <p>DAY OFF (토/일/공휴일)</p>
    </div>
    <div class="lon-logout">
        <img src="../../images/icon-logout.png" alt="">
        Logout
    </div>
</div>
<div class="side-screen"></div>

