//filter

.lon-filter-area {
    display: none;
    .onFilter & {
        display: block;
    }
    .lon-filter-section {
        padding-top: pxToRem(65);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2000;
        background: #fff;
        max-height: 18.625rem;
        .lon-filter-box {
            position: relative;
            text-align: center;
            width: pxToRem(330);
            margin: 0 auto;
            h3 {
                font-size: pxToRem(14);
                font-weight: bolder;
                margin: pxToRem(14) 0;
            }
        }
        .lon-filter-text {
            text-align: center;
            padding-top: pxToRem(50);
            font-size: pxToRem(12);
            color: rgb(51, 51, 51);
        }
        .lon-select-room {
            padding: pxToRem(32) pxToRem(16) pxToRem(16);
            ul {
                -webkit-border-radius: pxToRem(4);
                -moz-border-radius: pxToRem(4);
                border-radius: pxToRem(4);
                border: pxToRem(1) solid rgb(100, 100, 100);
                .select-room {
                    float: left;
                    width: 50%;
                    text-align: center;
                    height: pxToRem(32);
                    font-size: pxToRem(13);
                    line-height: pxToRem(32);
                    &.on {
                        background: rgb(100, 100, 100);
                        color: #fff;
                    }
                    &:nth-child(2) {
                        border-left: pxToRem(1) solid rgb(100, 100, 100);
                    }
                    &:nth-child(3) {
                        border-top: pxToRem(1) solid rgb(100, 100, 100);
                    }
                    &:nth-child(4) {
                        border-top: pxToRem(1) solid rgb(100, 100, 100);
                        border-left: pxToRem(1) solid rgb(100, 100, 100);
                    }
                }
            }
        }
    }
    .lon-filter-screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.7);
    }
}

//filter
.irs {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important
}

.irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: pxToRem(4);
    background: rgb(155, 155, 155);
    margin-top: pxToRem(6);
}

.irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0
}

.irs-handle {
    position: absolute;
    display: block;
    box-sizing: border-box;
    cursor: default;
    z-index: 1;
    width: pxToRem(32);
    height: pxToRem(32);
    background: url('../images/circleDark.png') 50% / 2rem no-repeat;
    margin-top: pxToRem(-6);
}

.irs-handle.type_last {
    z-index: 2
}

.irs-min, .irs-max {
    position: absolute;
    display: block;
    cursor: default;
    font-size: pxToRem(11);
    color: rgb(100,100,100);
    margin-top: pxToRem(20);
}

.irs-min {
    left: pxToRem(14)
}

.irs-max {
    right: pxToRem(7)
}

.irs-from, .irs-to, .irs-single {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap
}

.irs-grid {
    position: absolute;
    display: none;
    left: 0;
    width: pxToRem(330);
    height: pxToRem(16);
}

.irs-with-grid .irs-grid {
    display: block
}

.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: pxToRem(2);
    height: pxToRem(16);
    -webkit-border-radius: pxToRem(1);
    -moz-border-radius: pxToRem(1);
    border-radius: pxToRem(1);
    background: rgb(100, 100, 100);
}

.irs-grid-pol.small {
    top: 50%;
    transform: translateY(-50%);
    height: pxToRem(8);
}

.irs-grid-text {
    display: none;
    //position: absolute;
    //bottom: pxToRem(-16);
    //left: 0;
    //white-space: nowrap;
    //text-align: center;
    //padding: 0 3px;
}

.irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: rgba(0, 0, 0, 0);
    z-index: 2
}

.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed
}

.irs-disabled {
    opacity: .4
}

.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important
}